:root{    
    --logo-font:'Raleway', sans-serif;
    --primary-font:'Roboto', sans-serif;
    --accent-color:#b78710; 
    --primary-text-color:#2E2F42;
    --secondary-text-color:#434455;
    --link-background-color:#4D5AE5;
}

.list{
    list-style: none;
}
.link {
    text-decoration: none;
}
/* =============HEADER ============= */
.logo{
    font-family: var(--logo-font);
    text-transform: uppercase;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-colo);
}


.first-part-logo{
    color:var(--link-background-color);
    }

body{
    font-family: var(--primary-font);
}

/*.main-header{}
.menu{}*/

.menu-link{    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--primary-text-color);
}

.menu-link:hover, .menu-link:focus {
    color: var(--accent-color); 
}



.contact-email .contact-phone-number{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
}


.contact-email:hover,.contact-email:focus, 
.contact-phone-number:hover, .contact-phone-number:focus{
    color: var(--accent-color); 
}

/* =============/HEADER ============= */



/* =================COMPONENTS======== */
.modal-btn{
    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: var(--link-background-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;     
    cursor: pointer;
}
.modal-btn:hover, 
.modal-btn:focus{
    color:var(--accent-color);
}


.dark-theme{
    background-color:var(--primary-text-color);
    color: #FFFFFF;
}

/*=================/COMPONENTS======== */

/* ================HERO=========== */
.hero{
    background-color: var(--primary-text-color);
    /*width: 1440px;
    height: 600px;
    left: 0px;
    top: 72px;*/
}
.hero-tittle{
    
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
}

.title-section{
    
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}


.section-description{    
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
}
/* ================/HERO=========== */


/* ================PORTFOLIO=========== */
.main-font-navigation{
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}

.main-font-navigation:hover, 
.main-font-navigation:focus {
    color: var(--accent-color); 
}

.main-font-image{
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

.secondary-font-image{
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--secondary-text-color);
}

.first-button{
    background-color: #404BBF;
    color: #FFFFFF;    
}

.primary-theme-button{
    background-color: #F4F4FD;
    color: var(--link-background-color);
    
}

.secondary-link-image{
    background-color: var(--link-background-color);
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}

/* ================/PORTFOLIO=========== */